<h1>Vai ter Copa sim!</h1>
<p>Complete seu álbum mais rápido!</p>
<p>Encontre facilmente gente que tem os refugos que você precisa!</p>

Não precisa de cadastro, basta entrar com a conta do Facebook!
<br/>
<a href="/auth/facebook" id="sign_in" class="zocial facebook">Entrar com o Facebook!</a>
